@import "styles/const/_colors.scss";

.footer{
    height: 80px;
    position: fixed;
    bottom: 0;
    display: grid;
    grid-template-columns: 2fr 5fr;
    width: 100%;
}
.wrapperLink{
    display: flex;
    border-radius: 12px 0 0 0 ;
    justify-content: space-around;
    background-color: $purple50;
    align-items: center;
}